#categories { display:flex; flex-wrap: wrap; justify-content: center}
.category { cursor:pointer; width:10%; min-width:100px; margin:10px; padding:5px; height:fit-content; text-align: center; }
ul { padding-left:15px }
button { margin-left:5px }
form { padding:10px 0}
.label { font-size:0.8em}
.new-category { display:block; text-align: center; padding:10px 0; color:blue }
