<section class='top'>
<h1>Welcome {{username}}</h1>
</section>
<section class='content'>
<h2>Categories: <fa-icon (click)='getCategories()' class='refresh noSelect' [icon]="faIcons['faArrowsRotate']"></fa-icon></h2>
<div class='noSelect' id='categories'>
  <ng-container  *ngFor="let category of categories">
    <div class='category' (click)="startGame(category.name) ">
      <fa-icon class='category-icon' [icon]="faIcons[category.icon]"></fa-icon>
    <span class='label noSelect'>{{category.name}}</span>
    </div>
  </ng-container>
</div>
<div>
<a class='new-category' [routerLink]="['/new-category']">Create a new category <fa-icon [icon]="faIcons['faCirclePlus']"></fa-icon></a>
</div>
<h2>Join a Game:</h2>
<form (submit)='joinGame(gameId)'>
  <input (keyup)='validate()' type='text' name='game-id' id='game-id' pattern="[A-Z0-9]{6}" placeholder='Game ID' required [(ngModel)]='gameId'> <button type='submit'>Join Game</button>
</form>
<div class='form-error'>{{joinError}}</div>
</section>
